*
{
    margin: 0;
    padding: 0;
    width: 100%;
}
.navbar-custom {
    background-color: rgba(0, 0, 0, 0.2); /* Black with 70% transparency */
    color: #fff;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #FCB541; /* Change color on hover */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay.bottom {
    top: 60%;
    bottom: 0;
}

.overlay-text {
    color: #fff;
    font-size: 60px;
    animation: slideUp 1s ease-in-out infinite alternate; /* Apply animation */
    font-weight: 800;
}

.overlay-text2 {
    font-size: 50px;
    text-align: center;
}

.overlay-text3 {
    font-size: 15px;
    text-align: center;
}

@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.banner img{
    position: absolute;
    object-fit: cover;
}